
.container{

    display: flex;
    width: 45rem;
	height: 30rem;
    background-color: #f3ebe2;
    margin-left: 550px;
    margin-top: 40px;
    display: flex;
    border-radius: 09px;
    flex-direction: row;
    justify-content: space-around;
	align-items: center;
    border:7px solid #eeb38c;

}
.botones{
    flex-direction: row;
	align-items: center;
    width:60px;
    height:100px;
    margin-bottom: 5px;

}

.solicitar{
    background-color: #eeb38c;
    width:180px;
    height:40px;
    border-radius: 09px;
    justify-content: center;
    margin-top: 90px;
}
.devolver{
    background-color: #eeb38c;
    width:180px;
    height:40px;
    border-radius: 09px;
    justify-content: center;
    margin-top: 30px;
}
.imagen{
    justify-content: center;
    flex-wrap: wrap;
}
