


/* ############ book list ################ */

#book-list{
	width: 45rem;
	height: 40rem;
	background-color: #f3ebe2;
    margin-left: 550px;
    margin-top: 200px;
    border:7px solid #eeb38c;
}

.book{
	width: 100%;
    height: 25%;
    border-bottom: 1px solid lightgrey;
	display: flex;
    flex-direction: row;
}

.book:hover{
	background-color: #f0f0ea;
}

.book .book-img{
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.book .book-text{
	width: 55%;
	display: flex;
	flex-direction: column;

}

.book > .book-text > .book-tittle{
	width: 100%;
	height: 70%;
}

.book > .book-text > .book-author{
	width: 100%;
	height: 20%;
	color: #828282;

}

.book > .book-isbn{
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #828282;
}
.book > .book-gender{
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #828282;
}
