.input:disabled {
    background: #ccc;
}

/* .input>.inputs-box>select:first-child,
.input>.inputs-box>input:first-child {
    width: 30rem;
    height: 1.25rem;
    background-color: #f3ebe2;
    border-bottom: 2px solid #828282;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.input>.inputs-box>select:focus:first-child,
.input>.inputs-box>input:hover:first-child,
.input>.inputs-box>input:focus:first-child {
    height: 1.25rem;
    color: black;
    border-bottom: 2px solid #d19e78;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: -webkit-focus-ring-color auto 0px;
}

.input>.inputs-box>select:focus:disabled,
.input>.inputs-box>input:hover:disabled,
.input>.inputs-box>input:focus:disabled {
    height: 1.25rem;
    color: black;
    border-bottom: 2px solid #828282;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: -webkit-focus-ring-color auto 0px;
} */

/* input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.10em solid currentColor;
    transform: translateY(-0.075em);
}


input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: inline-flex;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
     */