
body{
 	justify-content: center;
	background-image:url(fondoBC.jpg);	
	}

.containerMsg {   
  margin-top: 145px;
  background-color: #F1D9CB;
  text-align:center;
  height:85px; 
  margin-bottom: 28px;
  padding: 1rem;
  
}
    
p {
 
  color: gray; 
  font-weight: bold;
  font-size: large;
  font-family:tahoma;
  font-size: large;
  
              
}

button {
  font-family: sans-serif; 
  font-weight: bold;
  width: 110px;
  height: 35px;
  border-radius: 5px;

}

button#signIn {

  background-color:  gray; 
  color: #f3ebe2; 
  border-color: black;
  font-size: large;
  
}

#book-list{
  background-color: #f3ebe2;
  padding-top: 7px;
  margin-top: 250px;
  justify-content: center;
  margin: auto;
  text-align: center;
  text-decoration:underline; 
  font-style: oblique;
  font-family:Geneva;
  font-size: large;
}

button#seeMore {
  color: grey; 
  background-color: aliceblue;
  border: none;
  font-size: medium;
   
}


  

  


